<form action="/addPost" method="post">
    <p>Titulo:</p>
    <input type="text" name="titulo">
    <p>Conteúdo:</p>
    <textarea name="conteudo"></textarea><br>
    <button 
    style="
    padding:10px 8px; 
    border: 1px solid #ddd; 
    color:#fff; 
    background-color: #069;
    cursor:pointer;
    border-radius:6px;
    " type="submit">
    Cadastrar postagem
    </button>
</form>